body{ background-color:rgba(0,0,0,0.01); font-family: "Noto Sans", san-serif;margin:0;}
a{text-decoration:none; color:white;}


	#top{display:flex;position:relative;}
	#back{width:20px;height:20px;margin-left:10px;margin-top:20px;}
	#title{color:white; margin-left:10px;margin-top:20px;font-size:20px;font-weight:bold;line-height:1.4; margin-bottom:20px;}


/*메인페이지 상단 서치&탭*/
#topfollow{position:fixed;top:0;width:100vw;background-color:white;}
	/*상단 서치*/
	#searchbox{position:relative; padding-left:1rem; padding-right:1rem;padding-top:3rem;background-color:white;}
	#search{height:5rem;background-color:rgba(0,0,0,0.05); margin: 0; padding-top:0; margin-top:0;border-radius:2rem;}
	#searchicon{position:absolute; top:2.5rem; width:3.4rem; margin-top:1rem; margin-left:1.6rem;}
	#realsearchicon{width:100%;}
	#reckeywords{color:rgba(0,0,0,0.3);position:absolute;top:3.8rem; margin-left:5.8rem;font-weight:bold;font-size:2rem;}

	/*상단 탭*/
	#toptab{width:100vw;height:7rem;background-color:white;display:flex;}
	.toptabeach{width:33.333%;color:lightgray;text-align:center;margin-top:2.7rem; border-bottom: .6rem solid rgba(0,0,0,0.3);font-size:2rem;}
	#recommend{color:black; border-bottom: .6rem solid black;font-weight:bold;}
	#follow{color:gray;}
	#hunt{color:gray;}


/*메인페이지 상단 gif*/
#topbox{position:relative;margin-top:10.9rem;}
	#gif1{width:100vw;margin-top:0px;margin-left:0; padding:0;}
	#hollywood{position:absolute; bottom: 19px; left:16px; color:white;font-size: 20px;font-weight:bold;background-color:rgba(0,0,0,0.7);}


#trendbox{margin-left:10px;}
	.rankingtxt{display:flex;position:relative;}
	.trendtxt{color:black; margin-top:25px;margin-bottom:5px; font-weight:bold;font-size:14px;}
	#seeall{right:10px;position:absolute; color:blue;font-weight:normal; font-size:13px;padding-top:4px;}
	#seeall2{right:10px;position:absolute; color:blue;font-weight:normal; font-size:13px;padding-top:4px;}

#trendimgbox{width:100vw; height:20vh;position:relative; display:flex;}
#gif2{height:100%;}
#gif3{height:100%;}
#gif4{height:100%;}
.trendimg{padding-right:8px;}


/*하단 탭*/
#tabbar{position:fixed;bottom:0; background-color:black;width:100vw;height:70px; display:flex; }
	.tabbutton{margin-right:10px;margin-left:10px; height:100%; width:20%; background-color:black; text-align:center;padding-top:9px; color:gray; font-weight:bold;font-size:15px; border-top:4px solid black;}
	#home{border-top:4px solid white; color:white;}
	#all{color:gray;}


#todaysfashionbox{margin-left:10px;width:98vw;margin-right:10px;}
#todaytxt{color:black; margin-top:30px;margin-bottom:5px;font-weight:bold;font-size:14px;}
#todaysimgbox{width:100%;  display:flex;}
.row{width:100%;margin-right:10px;}

.giftxtbox{position:relative;margin-right:10px;width:100%;overflow:hidden;margin-bottom:10px;}
.giftxt1{position:absolute; color:white;width:140px; left:10px; bottom:10;background-color:rgba(0, 0, 0, 0.5); font-weight:bold; }
#cold{width:80px;}
#leisure{width:100px;}
#monokini{width:100px;}
#bodysuit{width:120px;}
#streetfashion{width:100px;}


#gif5{width:100%; }
#gif6{width:100%;}

#blank{width:100%; height:81px; background-color:rgb(156, 52, 255); font-weight:bold;text-align:center;padding-top:58px;color:white;margin-top:10px;margin-bottom:10px;}
#sunglass{width:100%; height:40px;background-color:rgb(255, 53, 113);color:white;font-weight:bold;text-align:center; height:81px; padding-top:35px; margin-bottom:10px;}
#denim{width:100%; height:40px;background-color:rgb(40,127,255);color:white;font-weight:bold;text-align:center; height:81px; padding-top:35px; margin-bottom:10px;}

#etc{width:100%; text-align:center;padding-top:48px;padding-bottom:48px;background-color:white;border:2px solid lightgray;margin-top:10px;color:gray;font-size:13px;font-weight:bold;}

#bottomdummy{width: 100vw; height:80px;}
#bottombox{width:100vw; height:100px;}


/*업로드 버튼 클릭 시 나오는 팝업*/
#uploadpopup{position:fixed;width:100vw;bottom:70px;display:none;}
#topblur{height:80vh;width:100%;background-color:rgba(0,0,0,0.4);}
#library{width:100%;height:45px;background-color:white;text-align:center;padding-top:23px;font-weight:bold;border-bottom:1px solid lightgrey;}
#url{width:100%;height:45px;background-color:white;text-align:center;padding-top:23px;font-weight:bold;}

/*업로드 버튼*/
.thebutton{width:50px;height:25px;background-color:white; border-radius:30px;font-size:15px;font-weight:bold;margin-top:10px;}


#topbutton{position:absolute; right:10px;margin-top:20px;width:70px; font-size:13px;}

/*게시물 클릭 시 게시물 하단 프로필*/
.profilebox{width:100%;display:flex;}
.profile{width:23px;height:20px;margin-top:5px;padding-right:5px;}


.text{color:white;margin-bottom:10px;font-size:13px;width:100%;margin-top:5px;}

